@font-face {
    font-family: Digi;
    src: url(digital-7\ \(mono\).ttf);
}

#calculator {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 600px;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  background-color: grey;
  border-radius: 10px;
  row-gap: 5px;
}

#display {
  display: flex;
  border: 2px solid black;
  width: 400px;
  height: 100px;
  align-items: center;
  background-color: darkseagreen;
  border-radius: 10px;
}

#input {
  padding-left: 20px;
  font-family: Digi;
}

#buttons-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
  width: 400px;
  height: 400px;
  border: 2px solid black;
  background-color: white;
  border-radius: 10px;
}

button {
  font-size: 24px;
  border: 1px solid black;
  border-radius: 10px;
}
